extends layout

block content
 .jumbotron
    .container
        h1 Hardware Issues
        p
        | Hardware is hard. It is hard to eliminate every customer impacting problem with your hardware before you ship it to the customer. When your customers get their hands on your product they will invariably find a problem with it. This is when your customer support resources will need to save the day in order to make sure your customers do not give unfavorable reviews for your product. Remember, once your product gets associated with bad user reviews, it is going to be difficult for your product to justify the premium price and your margins will get compromised. You don't have to work too hard to find such product on marketplaces like Amazon and Ebay where the product looks great but is selling at a deep discount and it has less than 3 star user ratings with users complaining mostly about the quality of support they received from the seller. In this article we are focusing on a typical hardware product where the customer may need support from time to time, but most of the discussion applies as well to other kinds of products and services.
        h2 Today's Deal
        ol.list
        li
            label(for='') Bronze Deal: $100
            button Buy NOW!
        li
            label(for='') Gold Deal: $200
            button Buy NOW!
        li
            label(for='') Platnium Deal: $300
            button Buy NOW!
        li
            label(for='') Diamond Deal: $340,424
            button Buy NOW!
