extends layout

block content
 .jumbotron
    .container
      h1 Software Issues
      p
        | The key to testing a dirty system is knowing how to be a "testing archeologist." You will be digging through system artifacts and trying to piece together a view of the system that allows you to build a test plan. Your goal is to plan and perform a test that is more than just guesswork.
        | Fortunately, there are tools and techniques that help in the process of peeling back the layers of the unknown system structure and function. After diagnosing a dirty system's functionality and structure, then developing a test plan to validate the system, it's time to test the system. It is during test execution of a dirty system that unexpected functions are discovered and strange things happen that require further investigation.
        | All of the work performed in the diagnostic and test planning steps will prove to be very valuable in building a basis for test execution. Although surprises may arise, the prior research and planning will help greatly in predicting and isolating defects.
        | Much like an exterminator knows where to find certain kinds of pests due to the knowledge of where they thrive, you can also become an expert software bug exterminator by identifying common breeding ground for categories of software bugs.
      h2 Today's Deal
      ol.list
        li
          label(for='') Bronze Deal: $100
          button Buy NOW!
        li
          label(for='') Gold Deal: $200
          button Buy NOW!
        li
          label(for='') Platnium Deal: $300
          button Buy NOW!
        li
          label(for='') Diamond Deal: $340,424
          button Buy NOW!
