extends layout

block content
 .jumbotron
    .container
      h1 Virus Removal
      p
        | Infected with a virus? Unsure whether your existing antivirus software has detected and removed it? Still having problems and unsure where to turn to next? Sophos Virus Removal Tool can help.
        | Using cutting edge technology found in our enterprise-grade software, this powerful tool detects all types of malicious software on your computer—including viruses, spyware, rootkits and Conficker—and returns it to a working state.
        | The tool has direct access to virus data from SophosLabs, our global network of threat researchers, ensuring that even the very latest viruses are detected and removed. And it works alongside your existing antivirus.
      h2 Today's Deal
      ol.list
        li
          label(for='') Bronze Deal: $100   
          button Buy NOW!
        li
          label(for='') Gold Deal: $200   
          button Buy NOW!
        li
          label(for='') Platnium Deal: $300   
          button Buy NOW!
        li
          label(for='') Diamond Deal: $340,424   
          button Buy NOW!

